numpy
opencv-python-headless
mediapipe==0.10.5
pandas
Pillow
python-dotenv
streamlit
streamlit-webrtc
streamlit-authenticator
streamlit-calendar
av
aiortc
langchain-core
langchain-community
langchain-groq